*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(5deg,rgba(0,86,110,0.5) 25%, rgba(0,121,154,0.5) 49%, rgba(0,176,192,0.51)  100%);
    background-repeat: no-repeat;
    height: 165px;
    padding: 10px;
}
.salvar {
    cursor: pointer;
    padding: 5px;
    background-color: #008011;
    border: none;
    padding-left: 20px;
    background-image: url(../img/ok-preto.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-y: 4px;    
    margin-left: 10px;
    
}
.salvar:hover{
    background-color: #014916;
    background-image: url(../img/ok-branco.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-y: 4px;
}
.cancelar {
    padding: 5px;
    background-color:orangered;
    border: none;
    padding-left: 20px;
    background-image: url(../img/cancelar-preto.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-y: 4px;    
    margin-left: 10px;
}
.cancelar:hover{
    background-color:  rgb(211, 58, 3);
    background-image: url(../img/cancelar-branco.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position-y: 4px;
}
.agencia {
    margin-left: 5px;
    margin-top: 5px;
}
.conta {
    margin-top: 5px;
    margin-left: 20px;
}
.tipo {
    margin-top: 5px;
    margin-left: 29px;
    margin-bottom: 5px;
}